* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body::selection {
    color: yellow;
    background-color: black;
}

:root {
    --main-color: #10cab7;
}

/* Start-header */

.container {
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;

}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;

    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header .logo {
    width: 80px;
}

.header .links {
    position: relative;
}

.header .links ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #ffff;
    position: absolute;
    right: 0;
    width: 200px;
    top: calc(100% + 20px);
    display: none;
    z-index: 1;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.header .links ul li:not(:last-child) a {
    border-bottom: solid 2px red;
}

.header .links ul li a:hover {
    padding-left: 25px;
    color: blue;
    font-size: 20px;
}

.header .links ul::before {
    content: "";
    border: solid 10px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -19px;
    right: 10px;
}

.header .links:hover ul {
    display: block;
}


.header .list {
    position: relative;
}

/* End-Header */

/* Start-landing */

.landing {
    background-image: url(../images/e47864f0fd9901d3ec6796fd4beadf69.jpg);
    background-size: cover;
    height: calc(100vh - 72px);
    padding: 1px;
    position: relative;
    text-align: center;
}

.landing .intro-text h1 {
    margin: 0px;
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--main-color);
}


.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text p {
    color: black;
    font-size: 20px;
    text-transform: capitalize;
}

/* End-landing */


/* Start-features */

.features {
    padding: 60px;
    background-color: #f6f6ff;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat h3 {
    text-transform: capitalize;
    font-weight: 800;
    margin: 35px 0px;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
}

/* End Features */
.services {
    margin-bottom: 100px;
}

.services .container .special-heading {
    font-size: 100px;
    color: #ebeced;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
}

.services .container .special-heading+p {
    margin: -110px 0px 0px 0px;
    text-align: center;
    transform: translateX(-15px);
}

@media (max-width:767px) {
    .services .container .special-heading {
        font-size: 70px;
        transform: translateX(-5px);
    }

    .services .container .special-heading+p {
        margin-top: -80px;
    }

    .feat {
        transform: translateX(-20px);
    }
}

/* start services */

.img2 {
    width: 300px;
    height: 400px;
    border-right: solid 30px #2c4755;
    height: 100%;
}

.img1 {
    position: relative;
}

.img1::after {
    content: "";
    width: 60px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: 46.8px;
    background-color: #2c4755;
}

.img1::before {
    content: "";
    width: 60px;
    height: 40px;
    position: absolute;
    bottom: -40px;
    right: 46.8px;
    background-color: #2c4755;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 150px 150px;
    gap: 50px;
    margin-top: 100px;
    line-height: 1.5;
}

.img1 {
    grid-column: 3/4;
    grid-row: 1/3;
    margin-top: 50px;
}

@media (max-width:767px) {
    .services-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: translateX(20px);
        width: 300px;
    }

    .img1 {
        display: none;
    }

}

.services .container p {
    color: #777;
}

/* end service */

/* start portfolio */

.portfolio {
    background-color: #f6f6ff;
}

.projects {
    display: flex;
}


.portfolio .container h2 {
    text-align: center;
    font-size: 100px;
    color: #ebeced;
    margin-bottom: 0px;
    margin-top: 80px;
}

.portfolio .container p {
    text-align: center;
    color: #777;
    margin-top: -20px;
    margin-bottom: 80px;
}

.project-images {
    width: 300px;
    height: 250px;
    border-radius: 50px;
    transition: .3s;
}

.project-p {
    margin-top: 20px !important;
    margin-right: 40px;
    line-height: 1.6;
}

@media (max-width:767px) {
    .projects {
        display: flex;
        flex-direction: column;
    }
}

.project-images:hover {
    width: 350px;
    height: 300px;
}

/* end portfolio */


/* start about */
.about {
    margin-bottom: 100px;
}

.about .container h2 {
    display: block;
    font-size: 100px;
    color: #ebeced;
    text-align: center;
    margin-bottom: 0px;
}

.about .container .h2-text {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 100px;
}

.about-content {
    display: flex;
    justify-content: space-around;

    flex-wrap: nowrap;
}

.about-imag img {
    width: 250px;
    height: 350px;
}

.about-content .about-p1 {
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 1.8;
    position: relative;
}

.about-content .about-p2 {
    line-height: 1.8;
}

.about-text {
    width: 450px;
}

.about-content .about-p1::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 25%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: var(--main-color);
}

.about-imag::before {
    content: "";
    position: absolute;
    height: calc(100% + 80px);
    width: 80px;
    background: #ebeced;
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about-imag {
    position: relative;

}

.letter-L {
    position: absolute;
    top: -30px;
    right: 0px;
    width: 50px;
    height: 30px;
    background-color: #10cab7;
}

.border {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 30px;
    height: 80%;
    background-color: #10cab7;
}

.letter-LL {
    position: absolute;
    top: 250px;
    right: -100px;
    width: 100px;
    height: 50px;
    background-color: #10cab7;
}

@media (max-width:767px) {
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-text {
        width: 100%;
        /* ياخد كامل العرض */
        margin-top: 20px;
        /* مسافة بين الصورة والنص */
    }

    .about-imag {
        margin-bottom: 20px;
        /* مسافة أسفل الصورة */
    }

    .about-imag img {
        width: 200px;
        /* تصغير الصورة للموبايل */
        height: auto;
        /* يحافظ على النسبة */
    }

    .letter-LL {
        top: 240px;
    }

    .about-content .about-p1::before {
        left: 50%;
    }
}

/* end about */

/* start contact */
.contact {
    background-color: #f6f6ff;
}

.contact .container h2 {
    text-align: center;
    font-size: 100px;
    color: #ebeced;
    margin-bottom: 0;
}

.contact .container .p-contact {
    text-align: center;
    color: #ebeced;
    margin-top: -25px;
    margin-bottom: 40px;

}


.contact .container {
    display: flex;
    flex-direction: column;
    /* عشان العناصر تتجمع عمودي */
    align-items: center;
    /* يركّز كل العناصر اللي جوه في النص أفقيًا */
    text-align: center;
    /* يكمل النصوص في النص */
}

.p-mail {
    font-size: 40px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.mail {
    text-decoration: none;
    color: #10cab7;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-align: center;
    transition: .5s;
    width: fit-content;
}

.media {
    display: flex;


}

.p-social {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.social-media {
    margin-top: 50px;
}

.mail:hover {
    font-size: 35px;
    color: red;
}

@media (max-width:767px) {
    body {
        padding-left: 25px;
    }

}

/* end contact */

/* start footer */

.footer {
    background-color: rgb(56, 69, 62);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right {
    color: white;
}

/* end footer */